{% extends "layout.html" %}
{% load static %}
{% block title %}RammerBot | Resume{% endblock title %}
{% block content %}
{% include "includes/header.html" %}

		<section class="body">

			<div class="inner-wrapper">

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Resumen</h2>		
					</header>
					<!-- start: page -->
					<section class="content-with-menu content-with-menu-has-toolbar media-gallery">
						<div class="content-with-menu-container">
							<div class="inner-body mg-main">
								<div class="row mg-files" data-sort-destination data-sort-id="media-gallery">
                                    {% for education in educations %}
									<div class="isotope-item document col-sm-6 col-md-4 col-lg-3">
										<div class="thumbnail">
											<div class="thumb-preview">
												<a class="thumb-image" href="{{education.image.url}}">
													<img src="{{education.image.url}}" class="img-fluid" alt="Project">
												</a>
												<div class="mg-thumb-options">
													<div class="mg-zoom"><i class="bx bx-search"></i></div>
													<div class="mg-toolbar">
														<div class="mg-group float-end">
															<i class="fa-solid fa-globe"></i><a href="{{education.url}}" target="_blank">Link de Certificado</a>
														</div>
													</div>
												</div>
											</div>
											<h5 class="mg-title font-weight-semibold">{{education.title}}</h5>
											<div class="mg-description">
												<small class="float-start text-muted">{{education.institute}}</small>
												<small class="float-end text-muted">{{education.date}}</small>
											</div>
										</div>
									</div>
                                    {% endfor %}
								</div>
							</div>
						</div>
					</section>
					<!-- end: page -->
				</section>
			</div>
		</section>

{% endblock content %}