{% extends "layout.html" %}
{% load static %}
{% block title %}RammerBot | Resume{% endblock title %}
{% block content %}
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Experience Section-->
                    <section>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0">Experiencia</h2>
                        </div>
                        <!-- Experience Card 1-->
                        {% for experience in experiences%}
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">{{experience.date}}</div>
                                                <div class="small fw-bolder">{{experience.service}}</div>
                                                <div class="small fw-bolder">{{experience.position}}</div>
                                                <div class="small text-muted">{{experience.company}}</div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-8"><div>
                                            <div class="summary-container">
                                                <p class="summary">{{ experience.description|truncatechars:100 }}</p>
                                                <p class="full-text" style="display: none;">{{experience.description}}</p>
                                                <button class="toggle-button" onclick="toggleText(this)">Ver más</button>
                                            </div>
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}   
                    </section>
                    <!-- Education Section-->
                    <section>
                        <h2 class="text-secondary fw-bolder mb-4">Preparacion</h2>
                        <!-- Education Card -->
                        {% for education in educations %}
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">{{education.date}}</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">{{education.institute}}</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">{{education.title}}</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">{{education.certificate}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            <div class="summary-container">
                                                <p class="summary">{{ education.description|truncatechars:100 }}</p>
                                                <p class="full-text" style="display: none;">{{ education.description}}</p>
                                                <button class="toggle-button" onclick="toggleText(this)">Ver más</button>
                                            </div>
                                        </div></div>
                                    </div>
                                </div>
                            </div> 
                        {% endfor %}
                    </section>
                    <!-- Divider-->
                    <div class="pb-5"></div>
                    <!-- Skills Section-->
                    <section>
                        <!-- Skillset Card-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <!-- Professional skills list-->
                                <div class="mb-5">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                    </div>
                                    {% for skill in skills %}
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{skill.skill_0}}</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{skill.skill_1}}</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{skill.skill_2}}</div></div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- Languages list-->
                                <div class="mb-0">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Tecnologias</span></h3>
                                    </div>
                                    {% for technology in technologies %}
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{technology.technology_0}}</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{technology.technology_1}}</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{technology.technology_2}}</div></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>

    <script>
        function toggleText(button) {
            const container = button.parentElement;
            const summary = container.querySelector('.summary');
            const fullText = container.querySelector('.full-text');
    
            if (summary.style.display === '' || summary.style.display === 'block') {
                summary.style.display = 'none';
                fullText.style.display = 'block';
                button.textContent = 'Ver menos';
            } else {
                summary.style.display = 'block';
                fullText.style.display = 'none';
                button.textContent = 'Ver más';
            }
        }
    </script>
{% endblock content %}
