{% load static %}

<!-- 
<footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0">Copyright &copy; RammerBot 2023</div></div>
            <div class="col-auto">
                <a class="small" href="#!">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="#!">Terms</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
 -->
<footer id="footer" class="bg-color-dark-scale-5 border border-end-0 border-start-0 border-bottom-0 border-color-light-3 mt-0">
    <div class="container text-center my-3 py-5">
        <a href="{% url "home:home" %}" class="goto-top hvr-float-shadow"><img alt="RammerBot" width="120" height="120" data-sticky-width="82" data-sticky-height="36" data-sticky-top="0" src="{% static 'img/logo/logo-rammerbot.png' %}" data-plugin-lazyload data-plugin-options="{'threshold': 500}" data-original="{% static 'img/logo/logo_rammerbot.png' %}"></a>
        <ul class="social-icons social-icons-big social-icons-dark-2">
            <li class="social-icons-instagram"><a href="https://www.instagram.com/rammerbot/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
            <li class="social-icons-facebook"><a href="https://www.facebook.com/RammerBot" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-icons-twitter"><a href="https://x.com/Rhamer_G" target="_blank" title="Twitter"><i class="fab fa-x"></i></a></li>
            <li class="social-icons-linkedin"><a href="https://www.linkedin.com/in/rammer-gomez/" target="_blank" title="Youtube"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="copyright bg-color-dark-scale-4 py-4">
        <div class="container text-center py-2">
            <p class="mb-0 text-2 ls-0">Copyright &copy; RammerBot 2023 - All Rights Reserved</p>
        </div>
    </div>
</footer>