{% load static %}

<!-- Navigation-->

<!--
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url "home:home" %}"><span class="fw-bolder hvr-float-shadow text-gradient">RammerBot | ServiExpo</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                <li class="nav-item "><a class="nav-link btn-dark hvr-float-shadow" href="{% url "home:home" %}">Home</a></li>
                <li class="nav-item"><a class="nav-link btn-dark hvr-float-shadow" href="{% url "resume:resume" %}">Resumen</a></li>
                <li class="nav-item"><a class="nav-link btn-dark hvr-float-shadow" href="{% url "project:project" %}">Proyectos</a></li>
                <li class="nav-item"><a class="nav-link btn-dark hvr-float-shadow" href="{% url "contact:contact" %}">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>
-->
<header id="header" class="header header-nav-links header-nav-menu" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': true, 'stickyStartAt': 70, 'stickyChangeLogo': false, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body border-top-0 bg-black box-shadow-none  ">
        <div class="header-container container h-100">
            <div class="header-row mt-2 h-100">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo pb-4">
                            <a href="{% url "home:home" %}" class="goto-top hvr-float-shadow"><img alt="RammerBot" width="120" height="120" data-sticky-width="82" data-sticky-height="36" data-sticky-top="0" src="{% static 'img/logo/logo-rammerbot.png' %}" data-plugin-lazyload data-plugin-options="{'threshold': 500}" data-original="{% static 'img/logo/logo_rammerbot.png' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <button class="btn header-btn-collapse-nav d-lg-none order-3 mt-0 ms-3 me-0" data-bs-toggle="collapse" data-bs-target=".header-nav">
                            <i class="fas fa-bars"></i>
                        </button>
                        <!-- start: header nav menu -->
                        <div class="header-nav header-nav-links header-nav-light-text header-nav-dropdowns-dark collapse">
                            <div class="header-nav-main header-nav-main-mobile-dark header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                <nav>
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li>
                                            <a class="nav-link hvr-float-shadow" href="{% url "home:home" %}" data-hash data-hash-offset="120">
                                                Inicio
                                            </a>    
                                        </li>
                                        <li class="dropdown">
                                            <a class="nav-link dropdown-toggle hvr-float-shadow" href="{% url "resume:resume" %}">
                                                Resumen
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="nav-link dropdown-toggle hvr-float-shadow" href="{% url "project:project" %}">
                                                Proyectos
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="nav-link dropdown-toggle hvr-float-shadow" href="#">
                                                Sobre Nosotros
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- end: header nav menu -->
                        <a href="{% url "contact:contact" %} " class="hvr-float-shadow btn btn-gradient btn-modern btn-rounded text-3 ms-4 d-none d-sm-block">!Contactame Ahora!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>