{% extends "layout.html" %}
{% load static %}

{% block content %}
		<section class="body">
			<!-- start: header -->
					<div class="row">
						<div class="col-md-12">
							<section class="card">
								<header class="card-header">
									<div class="card-actions">
										<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
										<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
									</div>

									<h2 class="card-title">Shadow and Glow Transitions</h2>
								</header>
								<div class="card-body">
									<span class="hvr-shadow">Shadow</span>
									<span class="hvr-grow-shadow">Grow Shadow</span>
									<span class="hvr-float-shadow">Float Shadow</span>
									<span class="hvr-glow">Glow</span>
									<span class="hvr-shadow-radial">Shadow Radial</span>
									<span class="hvr-box-shadow-outset">Box Shadow Outset</span>
									<span class="hvr-box-shadow-inset">Box Shadow Inset</span>
								</div>
							</section>
						</div>
					</div>
		</section>

        
		<!-- Vendor -->
		
        {% endblock content %}